//
// Component:       Global Variables
// Description:     Defines common values used across all components
//
// ========================================================================


// Breakpoints
// ========================================================================

$breakpoint-small: 480px !default;
$breakpoint-medium: 640px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1200px !default;

$breakpoint-xsmall-max: ($breakpoint-small - 1) !default;
$breakpoint-small-max: ($breakpoint-medium - 1) !default;
$breakpoint-medium-max: ($breakpoint-large - 1) !default;
$breakpoint-large-max: ($breakpoint-xlarge - 1) !default;


// Global variables
// ========================================================================

//
// Typography
//

$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-font-size: 16px !default;
$global-line-height: 1.5 !default;

$global-2xlarge-font-size: 50px !default;
$global-xlarge-font-size:  40px !default;
$global-large-font-size:   30px !default;
$global-medium-font-size:  25px !default;
$global-small-font-size:   20px !default;
$global-xsmall-font-size:  18px !default;

//
// Colors
//

$global-color: #666 !default;
$global-emphasis-color: #333 !default;
$global-muted-color: #999 !default;
$global-link-color: #1e87f0 !default;
$global-link-hover-color: #0f6ecd !default;
$global-inverse-color: #fff !default;

//
// Backgrounds
//

$global-background: #fff !default;
$global-muted-background: #f8f8f8 !default;
$global-primary-background: #1e87f0 !default;
$global-secondary-background: #222 !default;
$global-success-background: #32d296 !default;
$global-warning-background: #faa05a !default;
$global-danger-background: #f0506e !default;

//
// Borders
//

$global-border-width: 1px !default;
$global-border: #e5e5e5 !default;

//
// Box-Shadows
//

$global-small-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !default;
$global-medium-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08) !default;
$global-large-box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16) !default;
$global-xlarge-box-shadow: 0 28px 50px rgba(0, 0, 0, 0.16) !default;

//
// Spacings
//

// Used in margin, section, list
$global-margin: 20px !default;
$global-small-margin: 10px !default;
$global-medium-margin: 40px !default;
$global-large-margin: 70px !default;
$global-xlarge-margin: 140px !default;

// Used in grid, column, container, align, card, padding
$global-gutter: 30px !default;
$global-small-gutter: 15px !default;
$global-medium-gutter: 40px !default;
$global-large-gutter: 70px !default;

//
// Controls
//

$global-control-height: 40px !default;
$global-control-small-height: 30px !default;
$global-control-large-height: 55px !default;

//
// Z-index
//

$global-z-index: 1000 !default;

//
// Inverse
//

$inverse-global-color-mode: light !default;

$inverse-global-color: rgba($global-inverse-color, 0.7) !default;
$inverse-global-emphasis-color: $global-inverse-color !default;
$inverse-global-muted-color: rgba($global-inverse-color, 0.5) !default;
$inverse-global-inverse-color: $global-color !default;

$inverse-global-primary-background: $global-inverse-color !default;
$inverse-global-muted-background: rgba($global-inverse-color, 0.1) !default;
$inverse-global-border: rgba($global-inverse-color, 0.2) !default;
